.searchbox{
    width: 60rem;
    }
    
    .searchbtn{
        margin-left: 1rem;
    }
    
    .ask-btn{
        background-color: #d12f2f;
        color: white;
    }
    
    .search-container{
        display: flex;
        width: 100%;
        height: 4rem;
        margin-top: 2rem;
        justify-content: center;
    }
    
    .form1{
        text-align: right;
        width:75%;
        justify-self: right;
        
    }
    
    .form2{
        text-align: left;
        width: 25%;
        margin-left: 4rem;
    }
    
    h1{
        text-align: left;
        margin-left: 25rem;
        margin-top: 4rem;
    }
    ul{
        
        display: flex;
      justify-content: center;
    }
    ul li{
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        list-style-type: none;
        width: 10rem;
    }
    ul li Link{
        align-self: center;
        text-align: center;
    }
    .allquestions-container{
        display: flex;
        justify-content: center;
    }
    .allquestions{
        width:60%;
        height: 30rem;
        background-color: #f5f5f5;
        text-align: center;
    }