.login_container{
    width: 40%;
    height: 35vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.login_form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    
}

.login_title > h2 {
    font-weight: 500; 
    margin-bottom: -100px;
}

.login_form > form >input{
    margin-bottom: 0.4rem;
    font-size: 0.7rem;
}

.login_form_btn > button{
    background-color: #D12F2F;
    border: 1px solid red;
    border-radius: 4px;
    color: cornsilk;
    width: 5rem;
    margin-top: 1rem;
   
  
}

.login_form_btn > button:hover{
    background-color: #f6f3f3;
    color: black;
    outline: none;

}
.login_btn_links > p {
    font-size: 0.4rem;
    width: 50%;
    margin: auto;
    margin-top: 0.1rem;
   
    
}

.login_btn_links:hover > p {
    cursor: pointer;
   
}